<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting Page</title>
</head>
<body>
    <h1>Welcome to the Redirection Page</h1>
    <p>You will be redirected in 5 seconds...</p>
    <script>
        setTimeout(function() {
            window.location.href = "https://mega.nz/folder/tHdQxZQY#_m4qzK0bjfNZflcHt9A6rA/folder/8ed0UDiZ";
        }, 5000);
    </script>
</body>
</html>
